.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* background-color: #091b60;; UIUC colors, if we want to use that*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.disclaimer-header {
  background-color: #f5d64b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: black;
  margin-bottom: 2em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table, th, td {
  text-align: left;  
  border: 1px solid black;
  border-collapse: collapse;
  padding: .5em;
}

.form-group {
  font-size: 1.25em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.form-group label {
  margin: .25em;
}
button {
  font-size: 1.25em;
  padding: .33em;
}

button.download {
  font-size: .75em !important; /* temp: this is thrown in a header */
  margin-left: 2em;
}